
/* Navbar */
.navbarTrans{
    background-color: transparent !important; 
    box-shadow:none !important;
}
.link a{
    color : #fff !important;
    text-decoration: none !important;
    margin-right: 50px;
}
.link a:hover{
    color : rgb(187, 187, 187) !important;
    text-decoration: none !important;
}

/* Navbar */
.collapse {
    animation: anim .3s ease-in-out;
}
@keyframes anim {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

@media all and (max-width: 1024px) { 
    .collapse-hidden{    
        opacity:0;
        transition: .3s ;
        transform: scale(0);
    }
}
/* SVG start */
.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: #fff;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
} 
/* SVG end */

/* End Navbar */


.main{
    height: 100%;
    padding-top: 100px;
    background: linear-gradient(268.03deg, #5908EA 1.14%, #C562AF 99.04%); 
}
@media only screen and (min-width: 1024px) {
    .main{
        height: 100vh;
        padding-top: 100px;
        background: linear-gradient(268.03deg, #5908EA 1.14%, #C562AF 99.04%); 
    }
}
/* Main Component */

.bubble-pic{       
    width: 150px;    
    height: 100px ;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1024px) {
    .bubble-pic{       
        width: 175px;    
        height: 125px ;
        
    }
}

@media only screen and (min-width: 1400px) {
    .bubble-pic{       
        width: 175px;    
        height: 125px ;
       
    }
}

    

@media only screen and (min-width: 1024px){
    .main-pic{        
        width: 800px;
        height: 500px;
    }
}
@media only screen and (min-width: 601px){
    .main-pic{        
        width: 800px;
        height: 500px;
    }
}

@media only screen and (max-width: 600px) { 
    .main-pic{        
        width: 600px;
        height: 300px;
    }
}

.devBig {
    font-size: 120px;    
}

/* Skills  */
.skills{
    height: 100%;
    padding-top: 100px;
    background: linear-gradient(270deg, #2E00B3 0%, #0057FF 100%);
}
@media only screen and (min-width: 1024px) {
    .skills{
        height: 100vh;
        padding-top: 100px;
        background: linear-gradient(270deg, #2E00B3 0%, #0057FF 100%);
    }
}
@media only screen and (max-width: 600px) { 
    .myName{
        font-size:30px;
    }
    .devBig{
        font-size:80px;
    }
}
/* End Skills */